*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* delete afrer correcting */
/* header, .hero, .skills, .portfolio {
    display: none;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
} 

.header-container {
    display: flex;
    height: 90px;
    font-size: 20px;
    font-weight: 400px;
    background: url('assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.3s;
    margin: 20px;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    cursor: pointer;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 30px 20px 0px;
    width: 500px;
    height: 50px;
    list-style: none;
}

.nav-item {
    padding: 0px 2px 0px 29px;
    height: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.langs-switch {
    display: flex;
    align-items: center;
    margin: 20px 20px 20px 0px;
    width: 70px;
    line-height: 50px;
    font-weight: 700;
}

.wc {
    color: #fff;
}

.langs-switch:hover {
    cursor: pointer;
}


.lang-active {
    color: #bdae82;
}

.eng {
    padding: 0px 9px 0px 1px;
}

.rus {
    padding: 0px 20px 0px 8px;
}

.theme-switch {
    display: flex;
    align-items: center;
    margin-right: 21px;
}

.theme-switch:hover {
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.hamburger {
    display: none;
    z-index: 1000;
    height: 28px;
    margin: 20px 64px 20px 0px;
}


.line {
    width: 50px;
    height: 5px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}

.hamburger.open-icon .line:nth-child(2){
    opacity: 0;
  }
  
.hamburger.open-icon .line:nth-child(1){
    -webkit-transform: translateY(13px) rotate(45deg);
    -ms-transform: translateY(13px) rotate(45deg);
    -o-transform: translateY(13px) rotate(45deg);
    transform: translateY(13px) rotate(45deg);
}

.hamburger.open-icon .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(-45deg);
    -ms-transform: translateY(-13px) rotate(-45deg);
    -o-transform: translateY(-13px) rotate(-45deg);
    transform: translateY(-13px) rotate(-45deg);
}

a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

a:hover {
    color: #bdae82;
}

.hero {
    height: 820px;
    background-image: url('assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat; 
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    height: 120px;
    width: 500px;
    line-height: 120px;
    margin: 0px 0px 10px 0px;
}

.description {
    font-size: 20px;
    width: 470px;
    height: 120px;
    line-height: 40px;
    margin: 0px 30px 25px 0px;
}

.hire-me-btn {
    width: 220px;
    height: 50px;

    font-size: 20px;
    transition: .3s;
    background-color: #bdae82;
    border: 0;
    cursor: pointer;
    font-family: inherit;
}

.hire-me-btn:hover {
    color: #fff;
}

.hire-text {
    display: inline-block;
    width: 500px;
    height: 330px;
    margin: 160px 0px 0px 80px;
}

.skills {
    height: 382px;  
}

.wrapper {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    height: 80px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title-1, .section-title-2, .section-title-3, .section-title-4 {
    font-family: 'Merriweather', serif;
    text-align: center;
    line-height: 80px;
    margin: 100px auto 60px auto;
    color: #bdae82;
    font-size: 40px;
    background-color: #000;
}

.section-title-1 {
    width: 152px;
}

.section-title-2 {
    width: 220px;
}

.section-title-3 {
    margin: 100px auto 0px auto;
    width: 154px;
}

.section-title-4 {
    width: 142px;
}

.section-title-5 {
    width: 450px;
    font-family: 'Merriweather', serif;
    color: #bdae82;
    padding-top: 60px;
    line-height: 80px;
    font-size: 40px;
    margin: 0px 20px 0px 0px;
    margin-left: auto;
}

/* SKILLS */
.skills-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 242px;
    margin: 60px 20px 0px 20px;
}

.skill-item {
    width: 320px;
    height: 240px;
    background-position: center top;
    text-align: center;
}

.skill-name {
    margin: 100px 20px 0px 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.skill-item-par {
    margin: 20px 20px 8px;
    width: 280px;
    height: 72px;
    font-size: 18px;
    line-height: 36px;
}

.skill-item:nth-child(1) {
    background-image: url('./assets/svg/camera.svg');
    background-repeat: no-repeat;
    background-size: 62px 50px;
  }

.skill-item:nth-child(2) {
    background-image: url('./assets/svg/video.svg');
    background-repeat: no-repeat;
    background-size: 60px 50px;
}
.skill-item:nth-child(3) {
    background-image: url('./assets/svg/image.svg');
    background-repeat: no-repeat;
    background-size: 66px 50px;
}

.skill-item:nth-child(4) {
    background-image: url('./assets/svg/mic.svg');
    background-repeat: no-repeat;
    background-size: 32px 50px;
}

/* PORTFOLIO */
.portfolio-btns {
    text-align: center;
    margin: 60px 0px;
}

.portfolio-btn {
    width: 220px;
    height: 55px;
    border: 2px solid #bdae82;
    background-color: transparent;
    color: #bdae82;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    transition: 0.3s;

    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    transition: transform ease-in 0.15s, box-shadow ease-in 0.5s;
    box-shadow: 0 2px 25px rgba(189, 174, 130, 1);
}

.portfolio-btn:focus {
  outline: 0;
}

.portfolio-btn:before, .portfolio-btn:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.portfolio-btn:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, transparent 20%, rgba(189, 174, 130, 1) 20%, transparent 30%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(189, 174, 130, 1) 15%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.portfolio-btn:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, transparent 10%, rgba(189, 174, 130, 1) 15%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%), radial-gradient(circle, rgba(189, 174, 130, 1) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.portfolio-btn:active {
  transform: scale(0.9);
  background-color: rgba(189, 174, 130, 1);
  box-shadow: 0 2px 25px rgba(204, 204, 109, 0.5);
}

.portfolio-btn.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.portfolio-btn.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.portfolio-btn:hover {
    color: #fff;
}

.active {
    color: #000;
    background-color: #bdae82;
}


.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-basis: 1;
    gap: 25px;
}

/* VIDEO */

.video-player {
    text-align: center;
    margin-top: 60px;
}

.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.video-img {
    max-width: 1440px;
    width: 100%;
}

.video-img-small {
    display: none;
}

.video-player-btn {
    position: absolute;
    transition: 0.3s;
    background: none;
    border: none;
}

.video-player-btn:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    cursor: pointer;
}

/* PRICE */
.price-varieties {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 60px;
}

.price-variety {
    border: 2px solid #bdae82;
    width: 450px;
    height: 505px;
    text-align: center;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: 28px;
    margin-top: 43px;
    line-height: 56px;
}

.price-value {
    display: block;
    margin: 20px 0px;
    line-height: 48px;
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: #bdae82;
}

.price-detail {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

.query-btn {
    width: 220px;
    height: 55px;
    margin-top: 40px;
    line-height: 40px;
    font-size: 20px;
    background-color: #bdae82;
    transition: .3s;
    border: none;
}

.query-btn:hover {
    cursor: pointer;
    color: #fff;
}

/* CONTACTS */
.contacts {
    margin-top: 100px;
    background: url('assets/img/contacts.jpg');
    background-size: auto 700px;
    background-position: center center;
    height: 700px;
}

.email-contact, .tel-contact, #message {
    display: block;
    font-family: inherit;
    width: 450px;
    border: 2px solid #BDAE82;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px 20px 20px 0px;
    margin-left: auto;
}

.email-contact::placeholder, .tel-contact::placeholder, #message::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
    line-height: 40px;
    padding: 5px 0px 5px 20px;
    padding-right: auto;
}

.tel-contact  {
    margin: 0px 20px 20px 0px;
    margin-left: auto;
}

.tel-contact::placeholder {
    padding: 5px 0px 5px 20px;
    padding-right: auto;
}

#message {
    resize: none;
    height: 100px;
    margin: 0px 20px 30px 0px;
    margin-left: auto;
}

#message::placeholder {
    padding: 5px 0px 5px 20px;
    padding-right: auto;
}

.submit {
    display: block;
    width: 220px;
    height: 55px;
    font-family: inherit;
    font-size: 20px;
    line-height: 40px;
    background-color: #bdae82;
    border: none;
    transition: .3s;
    margin: 0px 250px 0px 0px;
    margin-left: auto;
    border: 2px solid #BDAE82;
}

.submit:hover {
    cursor: pointer;
    color: #fff;
}

/* FOOTER  */

.footer .container {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    line-height: 50px;
}

.github {
    width: 182px;
    line-height: 50px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0px 0px 0px 25px;
}

.git-margins {
    margin: 0px 19px 0px -5px;
}

.rsschool {
    width: 211px;
    text-align: center;
    line-height: 50px;
}

.icons-contacts {
    line-height: 50px;
    width: 188px;
    margin: 0px 20px 0px 0px;
}

.contacts-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.contact-item {
    transition: .3s;

}

.contacts-img {
    vertical-align: middle;
}


.contact-item:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    cursor: pointer;
}


/* LIGHT-THEME */

.light-theme {
    background-color: #fff;
    color: #000;
}

.light-theme-hover {
    color: #000;
}

.light-theme-hover:hover {
    color: #fff;
    background-color: #bdae82;
}

.backimg-titles {
    background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
}

@media (max-width: 1320px) {
    .skills {
        height: 702px;
    }
  
    .light-theme {
        background-color: #fff;
        color: #000;
    }
    
    .light-theme-hover {
        color: #000;
    }
    
    .light-theme-hover:hover {
        color: #fff;
        background-color: #bdae82;
    }
    
    .backimg-titles {
        background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
    }

}

@media (max-width: 768px){

    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .light-theme {
        background-color: #fff;
        color: #000;
    }
    
    .light-theme-hover {
        color: #000;
    }
    
    .light-theme-hover:hover {
        color: #fff;
        background-color: #bdae82;
    }
    
    .backimg-titles {
        background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px);
    }

    .nav-list-light-theme {
        background-color: #fff;
        color: #000;
    }

    /* HERO */

    .logo {
        margin: 20px 0px 20px 60px;
    }

    .nav-list {
        flex-direction: column;
        width: 620px;
        height: 100%;
        position: fixed;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 5;
        right: -620px;
        transition: .5s;
        margin: 0px;
        padding: 134px 0px 0px 127px;
    }

    .bgcb {
        background-color: #000;
        color: #fff;
    }

    .bgcw {
        background-color: #fff;
        color: #000;
    }

    .bc {
        color: #000;
    }

    .bgb {
        background-color: #000;
    }

    .wc {
        color: #fff;
    }

    
    .nav-item {
        line-height: 73px;
        font-weight: 400;
        font-size: 35px;
        margin-bottom: 16px;
        margin-top: 17px;
        display: flex;
        align-items: center;
        padding: 0px;
    }



    .open {
        right: 0;
        transition: 0.5s;
        box-shadow: 0 0 0 9999px rgb(0 0 0 / 50%);  
    }

    .langs-switch {
        width: 89px;
        margin-left: auto;
    }


    .theme-switch {
        margin-right: 30px;
    }

    .hamburger {
        display: block;
    }

    .eng {
        margin: 0px 9px 0px 1px;
    }

    .slash {
        margin: 0px 6px 0px 0px;
    }
    
    .rus {
        margin: 0px 20px 0px 8px;
        padding: 0px 0px 0px 4px;
    }
    
    .header-container {
        background-image: url('assets/img/bg-small.jpg');
    }

    .hero {
        max-width: 768px;
        height: 500px;
        background-image: url('assets/img/bg-small.jpg');
        background-position: center -90px;
        background-repeat: no-repeat; 
    }

    .hire-text {
        display: inline-block;
        max-width: 500px;
        width: 100%;
        height: 330px;
        margin: 78px 0px 0px 60px;
    }

    h1 {
        font-size: 32px;
        width: 265px;
        line-height: 64px;
        height: 64px;
        margin: 0px 0px 20px 0px;
    }

    .description {
        font-size: 20px;
        max-width: 390px;
        width: 100%;
        height: 72px;
        line-height: 24.2px;
        margin: 0px 0px 60px 0px;
    }

    .hire-me-btn {
        width: 219px;
        height: 54px;
        line-height: 40px;
        font-size: 20px;
    }

    /* SECTIONS */
    .wrapper {
        text-align: center;
        width: 364px;
        margin: 0 auto;
        height: 80px;
    }
    
    .section-title-2, .section-title-3, .section-title-4 {
        line-height: 80px;
        margin: 80px auto 50px auto;
        font-size: 32px;
    }
    
    .section-title-1 {
        font-size: 32px;
        width: 131px;
        margin: 80px auto 36px auto;
    }
    
    .section-title-2 {
        width: 185px;
    }
    
    .section-title-3 {
        margin: 80px auto 50px auto;
        width: 131px;
    }
    
    .section-title-4 {
        width: 122px;
    }

    /* SKILLS */

    .skills {
        height: 649px;  
    }

    .skills-items {
        display: flex;
        justify-content: space-around;
        height: 520px;
        padding: 0px 20px;
        margin: 36px 20px 13px;
    }
    
    .skill-item {
        width: 300px;
        height: 224px;
        background-position: center top;
        text-align: center;
        justify-content: center;
        margin: 9px 0px 27px 0px;
        padding: 0px 10px;
    }
    
    .skill-name {
        margin: 80px 10px 20px;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
    }
    
    .skill-item-par {
        text-align: center;
        width: 280px;
        height: 44px;
        font-size: 18px;
        line-height: 21.78px;
        margin: 0 auto;
    }

    /* PORTFOLIO */
    .portfolio-btns {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 5px;
        margin: 50px auto 60px auto;
        width: 445px;
        height: auto;
    }
    
    .portfolio-btn {
        width: 220px;
        height: 55px;
        border: 2px solid #bdae82;
        background-color: transparent;
        color: #bdae82;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .portfolio-btn:hover {
        color: #fff;
    }
    
    #autumn {
        color: #000;
        background-color: #bdae82;
    }
    
    #autumn:hover {
        color: #fff;
    }
    
    .images {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-shrink: 1;
        flex-basis: 1;
        margin: 25px auto;
    }

    /* VIDEO */
    .video {
        max-height: 548px;
        height: 100%;
        margin-bottom: auto;
    }
    
    .video-player {
        text-align: center;
        margin-top: 50px;
    }
    
    .video-player {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .video-img {
        display: none;
    }
    
    .video-img-small {
        display: block;
        max-width: 768px;
        width: 100%;
    }
    
    .video-player-btn {
        position: absolute;
        transition: 0.3s;
        background: none;
        border: none;
    }

    .play_hover_img {
        width: 75px;
        height: 75px;
    }
    
    .video-player-btn:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
        cursor: pointer;
    }

    /* PRICE */

    .price-varieties {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 50px;
    }
    
    .price-variety {
        width: 420px;
        height: 505px;
    }

    /* CONTACTS */

    .section-title-5 {
        line-height: 64px;
        width: 100%;
        text-align: center;
        font-size: 32px;
        margin: 0px 20px 0px 0px;
        margin: 0 auto;
    }

    .contacts {
        margin-top: 80px;
        background-size: auto 600px;
        height: 600px;
    }

    .email-contact {
        margin: 40px auto 20px;
    }

    .tel-contact {
        margin: 0px auto 20px;
    }

    #message {
        resize: none;
        margin: 0 auto;
    }

    .submit {
        margin: 30px auto;
    }

    /* FOOTER  */
    .footer .container {
        height: 150px;
        display: block;
        line-height: 50px;
    }

    .github {
        width: 211px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        margin: 24px auto 0px;
        padding: 0px 5px 0px 21px;
    }

    .git-margins {
        margin: 0px 19px 0px -5px;
    }

    .rsschool {
        width: 210px;
        text-align: center;
        line-height: 50px;
        margin: 0 auto;
    }

    .icons-contacts {
        line-height: 50px;
        width: 188px;
        margin: 0 auto;
    }

    .contacts-list {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .contact-item {
        transition: .3s;

    }

    .contacts-img {
        vertical-align: middle;
    }


    .contact-item:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
        cursor: pointer;
    }
}

@media (max-width: 680px) {

    .skills {
        height: 1100px;
    }

    .video {
        height: auto;
        margin-bottom: auto;
    }
    
}

@media (max-width: 570px) {
    .hire-text {
        margin: 78px auto 0px 20px;
        max-width: 390px;
        width: 85%;
        height: auto;
    }

    .nav-list {
        padding-left: 30px;
        padding-right: auto;
        width: 100%;
    }
}


@media (max-width: 500px) {

    .logo {
        margin: 20px 0px 20px 60px;
    }

    .header {
        width: 100%;
        margin: 0 auto;

    }

    .description {
        max-width: 85%;
        margin: 10px 10px 60px 0px;
        height: auto;
    }

    .portfolio-btns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        margin: 50px auto 60px auto;
        width: 100%;
        height: auto;
    }

    .portfolio-img {
        max-width: 100%;
        height: auto;
    }

    .wrapper {
        width: 100%;
    }

    .email-contact, .tel-contact, #message {
        width: 100%;
    }
}
@media (max-width: 500px) {

    .logo {
        margin: 20px 0px 20px 10px;
    }


    .hamburger {
        margin: 20px 10px 20px 0px;
    }

}